@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

mjx-container[jax="CHTML"][display="true"]{
    display: contents !important;
    margin: 0 !important;
}
